.header {
    background-color: #f8f9fa;
    // z-index: 1;

    // .navbar {
    //     background-color: transparent !important;

    //     .nav-link {
    //         transition: .5s;

    //         &:hover {
    //             color: #57bbbf !important;
    //         }
    //     }

    //     .collapse {
    //         background-color: #f8f9fa;
    //     }
    // }
}

.info {
    .container {
        .row {
            text-align: center;
        }
    }
}

/* 橫幅 */
.banner {
    background-image: url(img/banner-city.png);
    margin: 30px 0;

    .blue-layer {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 75, 115, 0.9);

        .container {
            padding: 45px 20px;
            color: #fff;
            text-align: center;
            font-size: 26px;
            font-weight: 900;
            line-height: 1;
        }
    }
}

.schedule {
    .img-area {
        height: 100px;
        // width: 100%;
    }
}

.tools {
    .img-area {
        height: 60px;
    }
}

.company {
    border-bottom: 5px solid #444444;
}


.footer {
    background-color: #eeeeee;

    .icon-bar {
        .icon {
            .fab {
                font-size: 40px;

                &.fa-facebook-square {
                    color: #3d5a98;
                }

                &.fa-youtube-square {
                    color: #ba181a;
                }
            }
        }
    }

    .gotop {
        font-size: 50px;

        .fas {}
    }
}

.flow-messenger {
    text-decoration: none;
    width: 60px;
    height: 60px;
    background-color: #0084ff;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 100;

    &:hover {
        box-shadow: 0px 5px 15px #555;
    }

    .fab {
        font-size: 40px;
        color: #fff;
    }
}