@charset "UTF-8";
.header {
  background-color: #f8f9fa;
}

.info .container .row {
  text-align: center;
}

/* 橫幅 */
.banner {
  background-image: url(img/banner-city.png);
  margin: 30px 0;
}

.banner .blue-layer {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 75, 115, 0.9);
}

.banner .blue-layer .container {
  padding: 45px 20px;
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1;
}

.schedule .img-area {
  height: 100px;
}

.tools .img-area {
  height: 60px;
}

.company {
  border-bottom: 5px solid #444444;
}

.footer {
  background-color: #eeeeee;
}

.footer .icon-bar .icon .fab {
  font-size: 40px;
}

.footer .icon-bar .icon .fab.fa-facebook-square {
  color: #3d5a98;
}

.footer .icon-bar .icon .fab.fa-youtube-square {
  color: #ba181a;
}

.footer .gotop {
  font-size: 50px;
}

.flow-messenger {
  text-decoration: none;
  width: 60px;
  height: 60px;
  background-color: #0084ff;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 100;
}

.flow-messenger:hover {
  box-shadow: 0px 5px 15px #555;
}

.flow-messenger .fab {
  font-size: 40px;
  color: #fff;
}
