.header {
    background-color: #f8f9fa;
    // z-index: 1;

    .navbar {
        background-color: transparent !important;

        // .nav-link {
        //     transition: .5s;

        //     &:hover {
        //         color: #57bbbf !important;
        //     }
        // }

        // .collapse {
        //     background-color: #f8f9fa;
        // }
        .navbar-toggler {
            z-index: 2;
        }
    }
}

@media screen and (max-width: 991px) {

    .navbar-collapse {
        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 60%;
        height: 100vh;

        &.collapsing {
            height: auto;
            transition: 0.3s ease;
            top: 100%;
            right: -100%;
        }

        &.show {
            top: 100%;
            right: 0;

            background-color: #f8f9fa;
            transition: 0.3s ease-in;
            z-index: 5;
        }
    }
}

@media screen and (min-width:992px) {
    .carousel {
        .carousel-inner {
            .btn {
                p {
                    display: inline-block;
                }
            }
        }
    }
}

// 幻燈片
.carousel {
    .carousel-inner {
        .carousel-item {
            background-blend-mode: multiply;
            background-size: cover;
            background-position: center;
            height: 700px;
            position: relative;

            &:nth-child(1) {
                background-image: url(img/slide-1.png), linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5)100%);
            }

            &:nth-child(2) {
                background-image: url(img/slide-2.png), linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5)100%);
            }

            &:nth-child(3) {
                background-image: url(img/slide-3.png), linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5)100%);
            }

            &:nth-child(4) {
                background-image: url(img/slide-4.png), linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5)100%);
            }

            &:nth-child(5) {
                background-image: url(img/slide-5.png), linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5)100%);
            }

            &:nth-child(6) {
                background-image: url(img/slide-6.png);
            }

            &:nth-child(7) {
                background-image: url(img/slide-7.png);
            }

            &:nth-child(8) {
                background-image: url(img/slide-8.png);
            }

            &:nth-child(9) {
                background-image: url(img/slide-9.png), linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5)100%);
            }

            .content {
                position: absolute;
                color: #fff;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .btn {
                    a {
                        display: inline-block;
                        text-decoration: none;
                        color: #fff;
                        background-color: rgba(0, 93, 199, 0.507);
                    }
                }
            }
        }
    }
}


.info {
    .container {
        .row {
            text-align: center;
        }
    }
}

/* 橫幅 */
.banner {
    background-image: url(img/banner-city.png);
    margin: 30px 0;

    .blue-layer {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 75, 115, 0.9);

        .container {
            padding: 45px 20px;
            color: #fff;
            text-align: center;
            font-size: 26px;
            font-weight: 900;
            line-height: 1;
        }
    }
}

.schedule {
    .img-area {
        height: 100px;
        // width: 100%;
    }
}

.tools {
    .img-area {
        height: 60px;
    }
}

.company {
    border-bottom: 5px solid #444444;
}


.footer {
    background-color: #eeeeee;

    .icon-bar {
        .icon {
            .fab {
                font-size: 40px;

                &.fa-facebook-square {
                    color: #3d5a98;
                }

                &.fa-youtube-square {
                    color: #ba181a;
                }
            }
        }
    }

    .gotop {
        font-size: 50px;
    }
}

.flow-messenger {
    text-decoration: none;
    width: 60px;
    height: 60px;
    background-color: #0084ff;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 100;

    &:hover {
        box-shadow: 0px 5px 15px #555;
    }

    .fab {
        font-size: 40px;
        color: #fff;
    }
}