body {
    background-color: #39c5bb;

    .container {
        #puzzle-area {
            display: none;
            position: relative;
            border: 1px solid #aaa;

            canvas {
                box-sizing: border-box;
                vertical-align: bottom;
                position: absolute;
                transition: .3s;

                &.moveable {
                    border: 1px solid #aaa;
                }
            }
        }
    }
}