body {
    background-color: #39c5bb;

    .container {


        #puzzle-area {
            position: relative;
            border: 1px solid #000;

            canvas {
                box-sizing: border-box;
                vertical-align: bottom;
                position: absolute;
                transition: .3s;

            }
        }
    }
}