* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.five-adv {
    width: 960px;
    margin: auto;
}

.adv-boxing {
    text-align: center;
}

.adv-title h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.adv-title h2::after {
    content: '';
    width: 50px;
    height: 5px;
    background-color: #000;
}

.adv-boxing {
    margin-bottom: 150px;
}

.adv-boxing nav span {
    border: 1px solid gray;
    padding: 10px 20px;
    cursor: pointer;
}

.adv-boxing nav span~span {
    margin-left: 10px;
}

.adv-wall .video-btn>img {
    display: inline-block;
}

.info-title span {
    writing-mode: vertical-lr;
    vertical-align: middle;
    line-height: 1;
    font-size: 100px;
    font-weight: 300;
}

.info .info-content {
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-size: 1.1rem;
}

.text-title {
    color: #e00;
    padding: 20px 0;
}

.text>h3 {
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
}

.text p {
    margin: 10px 0;
    line-height: 1.4rem;
}

.text p::before {
    content: '●';
    color: red;
}

.adv-wall {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

/* 動畫疊層圖牆 */

.adv-wall-right .info-title {
    color: #fff;
    background-color: #e00;
}

.adv-wall-right .bg-img {
    background-color: #eee;
    width: 440px;
    height: 290px;
    position: relative;
    z-index: -1;
    margin-left: 50%;
    margin-bottom: -22%;

}

.adv-wall-right .info {
    width: 350px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 5;
}

.adv-wall-right .video-btn {
    margin-left: 10%;
}

.adv-wall-right .video-btn span {
    position: relative;
    display: block;
    text-align: right;
    right: -40px;
    margin-top: -200px;
}

.adv-wall-right .text {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    align-items: flex-start;
    width: 682px;
    line-height: 1rem;
    padding: 0 20px;
    font-size: 16px;
    position: relative;
    margin-top: 13%;
    margin-left: -25%;
}


/* 動畫疊層圖牆 left */

.adv-wall-left .info-title {
    color: #fff;
    background-color: #e00;
    text-align: right;
}

.adv-wall-left .bg-img {
    background-color: #eee;
    width: 518px;
    height: 413px;
    position: relative;
    z-index: -1;
    margin-left: 20%;
    margin-bottom: -35%;

}

.adv-wall-left .info {
    width: 350px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 610px;
    z-index: 5;
}

.adv-wall-left .video-btn {
    margin-left: -20%;
}

.adv-wall-left .video-btn span {
    position: relative;
    display: block;
    margin-left: -20px;
    margin-top: -200px;
}

.adv-wall-left .text {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    align-items: flex-start;
    width: 682px;
    line-height: 1rem;
    padding: 0 20px;
    font-size: 16px;
    position: relative;
    margin-top: 13%;
    margin-left: 25%;
}