html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html .container-fluid,
body .container-fluid {
  height: 100vh;
}

html .container-fluid .select-bar,
body .container-fluid .select-bar {
  background-color: #eee;
  height: 100vh;
}

html .container-fluid .select-bar #pac-input,
body .container-fluid .select-bar #pac-input {
  width: 85%;
}

html .container-fluid .select-bar .move-back,
body .container-fluid .select-bar .move-back {
  width: 15%;
  background-color: #fff;
  border: 1px solid #ced4da;
}

html .container-fluid .select-bar .move-back i,
body .container-fluid .select-bar .move-back i {
  font-size: 22px;
  color: orange;
}

html .container-fluid .select-bar .area,
body .container-fluid .select-bar .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 180px;
}

html .container-fluid .select-bar .area .input-group,
body .container-fluid .select-bar .area .input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

html .container-fluid .select-bar .area .input-group input,
body .container-fluid .select-bar .area .input-group input {
  height: calc(1.5em + .75rem + 2px);
  border: 1px solid #ced4da;
}

html .container-fluid .select-bar .area select,
body .container-fluid .select-bar .area select {
  margin: 10px 0;
}

html .container-fluid .select-bar .card-list,
body .container-fluid .select-bar .card-list {
  height: calc(100vh - 180px);
  overflow: auto;
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

html .container-fluid .select-bar .card-list .card,
body .container-fluid .select-bar .card-list .card {
  width: 95%;
  margin: auto;
  padding: auto;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px #222;
          box-shadow: 0px 0px 10px #222;
  margin-top: 15px;
  cursor: pointer;
}

html .container-fluid .select-bar .card-list .card:hover,
body .container-fluid .select-bar .card-list .card:hover {
  background-color: #eee;
}

html .container-fluid .select-bar .card-list .card .card-body .mask-left,
body .container-fluid .select-bar .card-list .card .card-body .mask-left {
  width: 45%;
  padding: 10px 15px;
  border-radius: 25px 5px 25px 5px;
  color: #fff;
}

html .container-fluid .select-bar .card-list .card .card-body .mask-left .left-num,
body .container-fluid .select-bar .card-list .card .card-body .mask-left .left-num {
  font-size: 32px;
  font-weight: 700;
}

html .container-fluid .select-bar .card-list .card .card-body .mask-left.gray,
body .container-fluid .select-bar .card-list .card .card-body .mask-left.gray {
  background-color: #d4d6d7;
}

html .container-fluid .select-bar .card-list .card .card-body .mask-left.orange,
body .container-fluid .select-bar .card-list .card .card-body .mask-left.orange {
  background-color: #e67e22;
}

html .container-fluid .select-bar .card-list .card .card-body .mask-left.green,
body .container-fluid .select-bar .card-list .card .card-body .mask-left.green {
  background-color: #11787a;
}

html .container-fluid .select-bar .card-list .card .card-body .card-title,
body .container-fluid .select-bar .card-list .card .card-body .card-title {
  margin-top: 15px;
  padding-left: 15px;
  border-left: 5px solid #00ddaa;
  color: #00aabb;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .container-fluid .select-bar .card-list .card .card-body .card-title i,
body .container-fluid .select-bar .card-list .card .card-body .card-title i {
  color: #00aabb;
}

html .container-fluid .select-bar .card-list .card .card-body .card-title i:hover,
body .container-fluid .select-bar .card-list .card .card-body .card-title i:hover {
  color: #5500aa;
}

html .container-fluid .select-bar .card-list .card .card-body .card-address i,
body .container-fluid .select-bar .card-list .card .card-body .card-address i {
  color: #5500aa;
  margin-right: 10px;
}

html .container-fluid .select-bar .card-list .card .card-body .card-phone i,
body .container-fluid .select-bar .card-list .card .card-body .card-phone i {
  color: #5500aa;
  margin-right: 10px;
}

html .container-fluid .map-box,
body .container-fluid .map-box {
  padding-left: 0px;
}

html .container-fluid .map-box #map,
body .container-fluid .map-box #map {
  height: 100%;
}

html .container-fluid .map-box #map .loading,
body .container-fluid .map-box #map .loading {
  width: 5rem;
  height: 5rem;
  color: red;
}

html .container-fluid .map-box #content p,
body .container-fluid .map-box #content p {
  font-size: 16px;
}

html .container-fluid .map-box #content .info-title,
body .container-fluid .map-box #content .info-title {
  color: #00aabb;
}

html .container-fluid .map-box #content .pop-adult,
html .container-fluid .map-box #content .pop-child,
body .container-fluid .map-box #content .pop-adult,
body .container-fluid .map-box #content .pop-child {
  color: #e67e22;
}

html .container-fluid .map-box #content i,
body .container-fluid .map-box #content i {
  color: #5500aa;
  margin-right: 10px;
}

html .container-fluid .map-box #content .pop-address,
body .container-fluid .map-box #content .pop-address {
  color: #00aabb;
}

html .container-fluid .map-box .card,
body .container-fluid .map-box .card {
  bottom: 50px;
}
/*# sourceMappingURL=all.css.map */