* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-image: url("assets/asset 15.jpeg");
  background-size: cover;
  /* 背景圖片不重複 */
  background-repeat: no-repeat;
  /* 固定背景，不受捲軸影響 */
  background-attachment: fixed;
}

.tel-button {
  position: fixed;
  z-index: 99;
  width: 80px;
  height: 80px;
  left: 20px;
  bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: orange;
  border-radius: 50px;
  transition: all 0.4s;
}

.tel-button:hover {
  cursor: pointer;
  color: #ffd833;
}

.tel-button .container {
  width: 10px;
  height: 10px;
  margin: 20px 20px;
}

.tel-button .container .fas {
  font-size: 40px;
  /* color: orange; */
}

.back-to-top {
  position: fixed;
  z-index: 98;
  width: 60px;
  height: 60px;
  right: 20px;
  bottom: 80px;
  background-color: orange;
  border: 0px solid #ccc;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top:hover {
  background-color: #00ccff;
}

.back-to-top .container a {
  display: block;
  text-align: center;
  width: 600x;
  height: 60px;
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}



.header {
  height: 60px;
  display: flex;
  background-color: #222;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  padding: 0 380px;
}

.header .tel {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

.header .tel img {
  margin: 0 10px;
}

.navi {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  vertical-align: middle;
  /* justify-content: space-between; */
  background-color: white;
  padding: 10px 10%;
  box-sizing: border-box;
  /* 以下設定黏性布局 */
  top: 0px;
  position: sticky;
  z-index: 100;
}

.navi .logo {
  display: flex;
  align-items: center;
}

.navi .logo .title {
  margin: 20px;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #555;
}

.navi nav {
  width: 100%;
  display: flex;
  margin: 0 50px;
}

.navi nav a {
  margin: 0 20px;
  text-decoration: none;
  font-size: 25px;
  border-bottom: 3px solid white;
  transition: 0.4s;
}

.navi nav a:hover {
  border-bottom: 3px solid orange;
  cursor: pointer;
}

.navi .btn-donate button {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid orange;
  background-color: white;
  border-radius: 5px;
  color: orange;
  padding: 15px 30px;
  transition: all 0.5s;
}

.navi .btn-donate button:hover {
  background-color: #7777ff;
  color: white;
  cursor: pointer;
}

.donate {
  position: relative;
  z-index: 0;
  width: 100%;
  /* height: 100%; */
  /* height: 700px; */
}

.donate img {
  display: block;
  width: 100%;
  /* height: 100%; */
}

.donate .donate-content {
  position: absolute;
  top: 25%;
  left: 15%;
  display: flex;
  flex-direction: column;
}

.donate .donate-content .item1 {
  font-size: 60px;
  color: #444;
  font-weight: bold;
}

.donate .donate-content .item2 {
  font-size: 80px;
  color: #55ccff;
  font-weight: bold;
}

.donate .donate-content .item3 {
  font-size: 25px;
  color: #666;
}

.donate .donate-content .donate-button .button {
  font-size: 15px;
  font-weight: bold;

  border: 0px solid orange;
  background-color: orange;
  color: white;
  padding: 20px 60px;
  transition: all 0.5s;
  margin-top: 40px;
}

.donate .donate-content .donate-button .button:hover {
  background-color: black;
  cursor: pointer;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding-top: 80px;
}

.about img {
  margin-right: 50px;
  width: 30%;
}

.about .about-content {
  display: flex;
  flex-direction: column;
  width: 550px;

  vertical-align: middle;
}

.about .about-content .item1 {
  font-size: 60px;
  color: #444;
  font-weight: bold;
}

.about .about-content .item2 {
  margin: 20px 0;
  font-size: 30px;
  color: #55ccff;
}

.about .about-content .item3,
.about .about-content .item4 {
  font-size: 15px;
  color: #666;
}

.about .about-content .item4 {
  margin-top: 20px;
}

.about .about-content .about-button .button {
  font-size: 15px;
  font-weight: bold;

  border: 0px solid orange;
  background-color: orange;
  color: white;
  padding: 20px 60px;
  transition: all 0.5s;
  margin-top: 40px;
}

.about .about-content .about-button .button:hover {
  background-color: black;
  cursor: pointer;
}

.help {
  width: 100%;
  padding: 50px 0;
  background-color: #eee;
}

.help .help-content .help-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help .help-content .help-txt .item1 {
  font-size: 50px;
  font-weight: bold;
  color: #444;
}

.help .help-content .help-txt .item2 {
  font-size: 30px;
  color: #55ccff;
  margin-bottom: 30px;
}

.help .help-content .help-img {
  display: flex;
  justify-content: center;
}

.help .help-content .help-img .img1,
.help .help-content .help-img .img2,
.help .help-content .help-img .img3 {
  position: relative;
  margin: 0 30px;
}

.help .help-content .help-img .img1 img,
.help .help-content .help-img .img2 img,
.help .help-content .help-img .img3 img {
  width: 100%;
}

.help .help-content .help-img .img1 img:hover,
.help .help-content .help-img .img2 img:hover,
.help .help-content .help-img .img3 img:hover {
  background-color: #000;
}

.help .help-content .help-img .img-txt1,
.help .help-content .help-img .img-txt2,
.help .help-content .help-img .img-txt3 {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
  transition: all 0.4s;
}

.help .help-content .help-img .img-txt1:hover,
.help .help-content .help-img .img-txt2:hover,
.help .help-content .help-img .img-txt3:hover {
  color: orange;
  cursor: pointer;
}

.volunteer {
  width: 100%;
  padding: 50px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
}

.volunteer .volunteer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 33px;
}

.volunteer .volunteer-left img,
.volunteer .volunteer-right img {
  width: 90%;
}

.volunteer .volunteer-right {
  display: flex;
  flex-direction: column;
}

.volunteer .volunteer-left .volunteer-txt {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #444;
}

.volunteer .volunteer-right .volunteer-txt {
  width: 500px;
  margin: 20px 0;
  font-size: 15px;
  color: #666;
}

.volunteer .volunteer-right .button {
  border: 0px solid orange;
  background-color: orange;
  color: white;
  font-size: 15px;
  padding: 20px 60px;
  transition: all 0.5s;
}

.volunteer .volunteer-right .button:hover {
  background-color: black;
  cursor: pointer;
}

.events {
  width: 100%;
  background-color: #fff;
  padding: 50px 0;
}

.events .events-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.events .events-content img {
  width: 60%;
  /* height: 100%; */
}

.events .events-content .event-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events .events-content .event-area .txt1 {
  font-size: 50px;
  font-weight: bold;
  color: #444;
}

.events .events-content .event-area .txt2 {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
  color: #55ccff;
}

.events .events-content .event-area .txt3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.events .events-content .event-area .button {
  border: 0px solid orange;
  background-color: orange;
  color: white;
  font-size: 15px;
  padding: 20px 60px;
  margin: 0 10px;
  transition: all 0.5s;
}

.events .events-content .event-area .button:hover {
  background-color: black;
  cursor: pointer;
}

.space {
  width: 100%;
  height: 700px;
  border-bottom: 20px solid orange;
}

.space2 {
  width: 100%;
  height: 600px;
  background-color: #eee;
}

.news {
  padding: 50px 0;
  background-color: #fff;
}

.news .news-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news .txt1 {
  font-size: 50px;
  font-weight: bold;
  color: #444;
}

.news .txt2 {
  font-size: 30px;
  margin: 10px 0;
  color: #55ccff;
}

.news .news-content {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.news .news-content .img1,
.news .news-content .img2 {
  position: relative;
  /* width: 20%; */
  margin: 0 15px;
}

.news .news-content .img1 img,
.news .news-content .img2 img {
  width: 100%;
}

.news .news-content .img1 span,
.news .news-content .img2 span {
  position: absolute;
  top: 60%;
  left: 46%;
  transform: translate(-40%, -54%);
  font-size: 30px;
  color: #fff;
  width: 350px;
  text-align: center;
  transition: all 0.5s;
}

.news .news-content .img1 span:hover,
.news .news-content .img2 span:hover {
  color: orange;
  cursor: pointer;
}

.awards {
  width: 100%;
  height: 500px;
  overflow: hidden;

}

.awards img {
  width: 100%;
  margin-top: -350px;
}

.instagram-txt {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 50px 0;
}

.instagram-txt .txt1 {
  font-size: 50px;
  font-weight: bold;
  color: #444;
}

.img-wall {
  display: flex;
  width: 100%;
}

.img-wall img {
  width: 25%;
  height: 100%;
}

.footer {
  width: 100%;
  margin-bottom: 0;
  position: relative;
}

.footer img {
  display: block;
  width: 100%;
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .footer-content .footer-logo {
  display: flex;
  align-items: center;
}

.footer .footer-content .footer-logo .title {
  margin: 20px;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.footer .footer-content .footer-icon .fab {
  font-size: 50px;
  margin: 10px 10px;
}

.footer .footer-content .footer-icon .fa-twitter-square {
  color: #55ccff;
}

.footer .footer-content .footer-icon .fa-facebook-square {
  color: #4488ff;
}

.footer .footer-content .footer-icon .fa-pinterest-square {
  color: #ff2222;
}

.footer .footer-content .footer-icon .fa-linkedin {
  color: #11aaee;
}

.footer .footer-content .footer-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.footer .footer-content .footer-txt .tel .fas,
.footer .footer-content .footer-txt .address .fas {
  margin: 10px 0;
  color: orange;
}