.products {
    .products-list {
        padding: 10px 0px;
        width: 200px;
        background-color: #444;
        color: #fff;
        margin: 0 15px;
        cursor: pointer;
        user-select: none;

        &:active {
            background-color: #777;
        }
    }
}

.shop {
    font-size: 0;

    .row {
        font-size: 16px;

        .fa-circle.space {
            color: #b3b6b9;
        }

        .fa-circle.silver {
            color: #e0e2e1;
        }

        .fa-circle.gold {
            color: #efd1c3;
        }

        .fa-circle.white {
            color: #f9f6ef;
        }

        .fa-circle.black {
            color: #1f2120;
        }

        .fa-circle.green {
            color: #ade0cd;
        }

        .fa-circle.yellow {
            color: #ffe681;
        }

        .fa-circle.purple {
            color: #d1cddb;
        }

        .fa-circle.red {
            color: #ba0c2f;
        }

        p {
            margin-bottom: 0px;
        }

        .item {
            width: 100%;
            padding: 50px;
            // padding-bottom: 100%;
            // height: 100%;
            margin: 15px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #aaa;

            cursor: pointer;

            &:hover {
                border: 1px solid black;
            }
        }

        input {
            display: none;

            &:checked {
                &+.item {
                    border: 1px solid red;
                }
            }
        }
    }
}