body {
  font-family: 'Nanum Gothic', sans-serif !important;
}

.navbar {
  background-color: rgba(30, 30, 30, 0.9);
  color: #fff;
  padding: 15px 50px;
}

.navbar a {
  color: #d5d5d5 !important;
  font-size: 12px;
}

.navbar .navbar-toggler {
  border: 1px solid #fff;
}

.navbar .navbar-nav:first-child .dropdown .dropdown-menu {
  background-color: #000;
}

.navbar .navbar-nav:nth-child(2) img {
  width: 18px;
}

.navbar .navbar-nav:nth-child(2) .dropdown .dropdown-menu {
  background-color: #000;
  padding: 20px 20px;
}

.navbar .navbar-nav:nth-child(2) .dropdown .dropdown-menu .form-control {
  background-color: #000;
}

.navbar .navbar-nav:nth-child(2) .dropdown .dropdown-search {
  min-width: 20rem;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 40px;
}

.carousel .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 150px;
  font-weight: 700;
}

.carousel .carousel-inner .carousel-item .carousel-caption a {
  text-decoration: none;
  color: #fff;
  padding: 10px 40px;
  outline: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel .carousel-inner .carousel-item .carousel-caption a:hover {
  background-color: #fff;
  color: #000;
}

.card .item {
  overflow: hidden;
}

.card .item img {
  -webkit-transition: .3s;
  transition: .3s;
}

.card .item .card-img-overlay span {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

.card .item .card-img-overlay span img {
  opacity: 0;
}

.card .item:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .5;
}

.card .item:hover > .card-img-overlay span {
  color: black;
}

.card .item:hover > .card-img-overlay span.price {
  color: #aa0000;
}

.card .item:hover > .card-img-overlay span img {
  opacity: 1;
}

.space {
  height: 50vh;
  width: 100%;
  background-image: url("img/subbnr_01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.space .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space .container h1 {
  font-size: 120px;
}

.space .container h2 {
  font-size: 45px;
}

.img-wall-2 .card {
  margin: 15px 0;
  overflow: hidden;
  border: none;
}

.img-wall-2 .card > img {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.img-wall-2 .card > img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .5;
}

.img-wall-2 .card .card-body .cart img {
  cursor: pointer;
}

.img-wall-2 .card .card-body p {
  font-size: 12px;
  margin: 0;
}

.img-wall-2 .card .card-body p a {
  text-decoration: none;
  color: #555555;
}

.img-wall-2 .card .card-body p.price {
  color: #0098d9;
  font-weight: 700;
}

.footer {
  background-color: #323232;
  color: #fff;
}

.footer h6 {
  color: #d5d5d5;
  font-size: 12px;
  font-weight: 700;
}

.footer a {
  text-decoration: none;
  color: #888888;
}

.footer a:hover {
  color: #D5D5D5;
}

.footer p {
  margin: 0;
  font-size: 12px;
}

.footer > .container {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #888888;
}

.footer .icon {
  margin-bottom: 40px;
}

.footer .icon img {
  height: 24px;
  padding-right: 5px;
}

.footer .icon img:hover {
  opacity: .5;
}

.footer .copyright {
  padding: 10px 0;
  background-color: #1e1e1e;
}

.footer .copyright a {
  font-size: 12px;
}

.footer .copyright a ~ a {
  margin-left: 15px;
}

.footer .copyright a:hover {
  color: #D5D5D5;
}

.footer .copyright p {
  color: #888888;
}

.gotop {
  position: fixed;
  right: 30px;
  bottom: 40px;
}

@media (max-width: 719px) {
  .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 20px;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 75px;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption a {
    padding: 10px 30px;
  }
  .footer .item {
    padding: 10px 0;
  }
}

@media (min-width: 960px) {
  .navbar-nav .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
/*# sourceMappingURL=all.css.map */