body {
    font-family: 'Nanum Gothic', sans-serif !important;
}

.navbar {
    .navbar-nav {
        .dropdown {
            &:hover {
                &>.dropdown-menu {
                    display: block;
                    // &.show {
                    //     display: none;
                    // }
                }
            }
        }

        &:first-child {
            .nav-item {
                >a {
                    &::before {
                        content: 'o ';
                    }
                }
            }

            .dropdown {
                .dropdown-menu {
                    >a {
                        &::before {
                            content: '▪ ';
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            img {
                width: 18px;
            }
        }
    }
}

// 幻燈片
.carousel {
    .carousel-inner {
        .carousel-item {
            height: 100vh;

            .carousel-caption {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // bottom: 50%;

                h5 {
                    font-size: 40px;
                }

                h1 {
                    font-size: 150px;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                    padding: 10px 40px;
                    border: 2px solid #fff;
                    background-color: rgba(0, 0, 0, 0.5);

                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }

    }
}

// 商品圖牆1
.card {
    .item {
        overflow: hidden;

        img {
            transition: .3s;
        }

        .card-img-overlay {

            span {
                font-size: 16px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0);
                transition: .3s;

                img {
                    opacity: 0;
                }
            }
        }

        &:hover {
            &>img {
                transform: scale(1.1);
                opacity: .5;
            }

            &>.card-img-overlay {
                span {
                    color: rgba(0, 0, 0, 1);

                    &.price {
                        color: rgb(170, 0, 0);
                    }

                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// banner 視差滾動
.space {
    height: 50vh;
    width: 100%;
    background-image: url("img/subbnr_01.jpg");
    background-size: cover;
    // 背景圖片不重複
    background-repeat: no-repeat;
    // 固定背景，不受捲軸影響
    background-attachment: fixed;

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 120px;
        }

        h2 {
            font-size: 45px;
        }
    }
}

// 商品圖牆2
.img-wall-2 {
    .card {
        margin: 15px 0;
        overflow: hidden;

        >img {
            cursor: pointer;
            transition: .3s;

            &:hover {
                transform: scale(1.1);
                opacity: .5;
            }
        }

        .card-body {
            .cart {
                img {
                    cursor: pointer;
                }
            }

            p {
                font-size: 12px;

                a {
                    text-decoration: none;
                    color: #555555;
                }

                &.price {
                    color: #0098d9;
                    font-weight: 700;
                }

                margin: 0;
            }
        }
    }
}

.footer {
    background-color: #323232;
    color: #fff;

    a {
        text-decoration: none;
    }

    .copyright {
        background-color: #1e1e1e;

        ul {
            padding: 0;

            li {
                list-style: none;
                padding-left: 15px;
            }
        }
    }
}