* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

header,
header .container,
.shop-onsale,
.shop-onsale .shop-onsale-bg img {
    width: 100%;
}

header .item1 {
    background-color: #679509;
    padding: 15px 0;
}

header .sale-bar,
header .logo-bar {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .sale-bar {
    color: #fff;
}

header .header-member {
    display: flex;
    align-items: center;
}

header .header-member>a {
    padding: 5px 15px;
    text-decoration: none;
    color: #fff;
    border-right: 1px solid #fff;
    font-size: .75rem;
    transition: 0.4s;
}

header .header-member .cart {
    padding: 0 15px;
    border-right: 1px solid #fff;
}

header .header-member .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: .75rem;
}

header .header-member .cart i {
    cursor: pointer;
    transition: 0.4s;
}

header .header-member a:hover,
header .header-member .cart i:hover {
    color: #c7ed79;
}


header .header-member .cart .count {
    font-size: 1rem;
    padding: 0 10px;
}


header .item2 {
    padding: 15px 0;
}

header .header-navi a {
    text-decoration: none;
    color: #a5a5a5;
    margin-left: 30px;
    transition: 0.4s;
    font-weight: 600;
}

header .header-member .header-currency {
    padding-left: 15px;
}

header .header-navi a:hover {
    color: #679509;
}

.shop-onsale {
    position: relative;
}

.shop-onsale .container {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.shop-onsale .shop-onsale-title {
    color: #333;
    width: 50%;
}

.shop-onsale .shop-onsale-title h1 {
    font-size: 82px;
}

.shop-onsale .shop-onsale-title h1 span {
    color: #679509;
}

.shop-onsale .shop-onsale-title h3 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    margin-bottom: 40px;
}

.shop-onsale .shop-onsale-title a {
    padding: 22px 42px;
    text-decoration: none;
    color: #fff;
    font-weight: 900;

    background: linear-gradient(90deg, #000 168.183px, transparent 168.183px);
    background-size: 336.366px 62px;
    background-color: #86ae34;
    transition: 0.5s;
    background-position: -168.183px 0px;
}

.shop-onsale .shop-onsale-title a:hover {
    /* background: transparent; */
    background-position: 0px 0px;
}